body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1240px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* ____________header______________ */

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header-nav {
    display: flex;
    gap: 45px;
}

.header-nav-link {
    color: rgba(18, 16, 12, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

.header-btn {
    color: #f9f9f9;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 6px 22px;
    border-radius: 12px;
    background: #12100c;
    border: none;
}

/* ____________hero_____section_______ */

.hero__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 52px 0 0 0;
}

.hero-title {
    color: #12100c;
    font-size: 80px;
    font-weight: 700;
    line-height: 88px;
    margin: 0;
}

.hero-text {
    color: rgba(18, 16, 12, 0.7);
    font-size: 23px;
    font-weight: 400;
    line-height: 31.92px;
    margin: 36px 0 48px;
}

.hero-btn {
    color: #12100c;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.5px;
    border-radius: 16px;
    background: #ffae33;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    padding: 11px 46px;
    border: none;
}

.hero-img {
    max-width: 630px;
}

.hero-img img {
    width: 100%;
    height: 100%;
}

/* ____________select_____section_______ */

.select__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 161px 0;
}

.select-title {
    color: #12100c;
    font-family: Roboto;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 63.72px;
    margin: 0;
}

.select-text {
    color: #999795;
    font-family: Roboto;
    font-size: 54px;
    font-weight: 400;
    line-height: 63.72px;
    text-decoration-line: strikethrough;
    margin: 0;
}

.select-subtitle {
    color: #12100c;
    font-family: Roboto;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 63.72px;
    margin: 0;
}

/* ____________think_____section_______ */

.think__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 160px 0 0 0;
    gap: 60px;
}

.think-title {
    color: #12100c;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    margin: 0;
}

.think-text {
    color: rgba(18, 16, 12, 0.7);
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.92px;
    max-width: 648px;
}

.think-btns {
    padding: 135px 0 0 0;
    display: flex;
    gap: 16px;
}

.think-btn1 {
    color: #12100c;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    border-radius: 10.5px;
    background: #ffae33;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    padding: 7px 18px;
    border: none;
}

.think-btn2 {
    color: #12100c;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    border-radius: 10.5px;
    background: #ffb0ae;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    padding: 7px 18px;
    border: none;
}

.think-img {
    max-width: 700px;
}

/* ---media---1120---media---*/

@media screen and (max-width: 1120px) {
    /* +++++++++++++selct+++++++++++ */

    .select-title {
        font-size: 35px;
        line-height: 40px;
    }
    .select-text {
        font-size: 35px;
        line-height: 40px;
    }
    .select-subtitle {
        font-size: 35px;
        line-height: 40px;
    }
}

/* ---960--- */

@media screen and (max-width: 960px) {
    .hero__content {
        flex-direction: column;
        gap: 20px;
    }
    /* +++++++++++++selct+++++++++++ */

    .think__content {
        /* display: flex; */
        flex-direction: column;
    }

    .think-title {
        text-align: center;
        font-size: 30px;
    }
    .think-text {
        text-align: center;
        font-size: 25px;
    }
    .think-btns {
        justify-content: center;
    }
}

/* --880--- */

@media screen and (max-width: 880px) {
    .header-nav {
        display: none;
    }
}

/* ---790---*/

@media screen and (max-width: 790px) {
    /* ++++++++++++selct+++++++++++ */

    .select-title {
        font-size: 25px;
        line-height: 25px;
    }
    .select-text {
        font-size: 25px;
        line-height: 25px;
    }
    .select-subtitle {
        font-size: 25px;
        line-height: 25px;
    }
}

/* ---450---*/

@media screen and (max-width: 450px) {
    /* +++++++++++++hero+++++++++++ */

    .hero-title {
        font-size: 64px;
        line-height: 70px;
    }
    .hero-text {
        font-size: 16px;
        margin: 20px 0;
    }
    /* +++++++++++++select+++++++++++ */

    .select-title {
        font-size: 15px;
        line-height: 20px;
    }
    .select-text {
        font-size: 15px;
        line-height: 20px;
    }
    .select-subtitle {
        font-size: 15px;
        line-height: 20px;
    }
}
